<!DOCTYPE html>
<html>
	<head>
		<title>Mahdy </title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="https://twitter.com/mentogeek">Twitter</a></li>
        		<li><a href="https://www.linkedin.com/in/mmahdym/">Linkedin</a></li>
        		<li><a href="https://mentogeek.wordpress.com">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
		<div class="blurb">
			<h1>Hi there, I'm Mahdy, Welcome!</h1>
			<p>Security geek <em>Exploring the cyber world</em> Have fun!</p>
		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="https://github.com/mmento">github.com/mmento</a></li>
			</ul>
		</footer>
	</body>
</html>
